#div1{
color: blueviolet;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 200;
font-style: italic;
}

.text-center{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    border: gold;
border-width: thin;
border-width: 5px;
border-style:groove;
}

.text-end{
color: burlywood;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 900;
border: darkblue;
border-width: thick;
border-width: 2px;
border-style: dotted;
}
