.divone{
color: rgb(111, 138, 94);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 900;
border: darkblue;
border-width: 7px;
border-width: 0;
border-style: dotted;
}



.text-end{
font-size: 10px;
}


